<div class='containerWrapper'>

    <div id="navigation-bar">
        <nav>
            <ul>
                <li><a routerLink="characters">Characters</a></li>
                <li><a routerLink="episodes">Episodes</a></li>
                <li><a routerLink="locations">locations</a></li>
            </ul>
        </nav>
    </div>

    <div class='content'>
        <router-outlet></router-outlet>
    </div>

</div>



<!-- <app-locations-list></app-locations-list>
<app-episodes-list></app-episodes-list>
<app-characters-list></app-characters-list> -->